<h1>Nuevo Documento</h1>

<%= render 'form', tipodocumento: @tipodocumento, class: 'btn' %>

<%= link_to '<i class="large material-icons">arrow_back</i>'.html_safe, tipodocumentos_path, class:"btn-floating btn-large blue" %>

