<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipodocumento.descripcion %>
</p>

<%= link_to 'Edit', edit_tipodocumento_path(@tipodocumento) %> |
<%= link_to 'Back', tipodocumentos_path %>
