<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @dependencium.descripcion %>
</p>

<%= link_to 'Edit', edit_dependencium_path(@dependencium) %> |
<%= link_to 'Back', dependencia_path %>
