<div class="contenido">

    <div class="texto">
        
        <div class="login">
            <% if usuario_actual %>
                <% if usuario_actual.rol.descripcion == "Usuario"%>
                    <div class="pqr-usuario">
                        <%= link_to 'Crear PQR', new_pqr_path , :class => "btn" %>
                        <li><a href="pqrs">Mis PQR</a></li>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="loginC">
        <% if usuario_actual %>
            <% else %>
                <%= link_to "Registrarse", "registro", :class => 'btn' %>
                <%= link_to "Iniciar sesión", "iniciarSesion",:class => 'btn' %>
        <%end%>
    </div>
    </div>
    

</div>