<div class="contenido">

    <div class="texto">

        <p> La petición o derechos de petición: es aquel derecho que tiene toda persona para solicitar o reclamar ante las autoridades competentes por razones de interés general o interés particular 
        para elevar solicitudes respetuosas de información y/o consulta y para obtener pronta resolución de las mismas.</p>
        
        <div class="login">
            <% if usuario_actual %>
                <% if usuario_actual.rol.descripcion == "Usuario"%>
                    <div class="pqr-usuario">
                        <%= link_to 'Crear PQR', new_pqr_path , :class => "btn" %>
                        <%= link_to 'Mis PQR',  pqrs_path , :class => "btn" %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="loginC">
        <% if usuario_actual %>
            <% else %>
                <%= link_to "Registrarse", "registro", :class => 'btn' %>
                <%= link_to "Iniciar sesión", "iniciarSesion",:class => 'btn' %>
        <%end%>
    </div>
    </div>
    

</div>