// Place all the styles related to the inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.brand-logo{
    color: beige !important; 
}
nav .nav-wrapper {
    background-color: #203c9e;
}

.texto{
    border: solid 3px #084ba0;
    margin-left: 15%;
    margin-right: 13%;
    padding-left: 10px;
    padding-right: 35px;
    margin-top: 6%;
    height: 550px;
    background-image: url(../images/pqr.png);
    background-size: cover;
}

.login{
    ext-align: center;
    padding-top: 47%;
}

.nav{
    border: solid 1px blue;
    height: 61px;
    position: absolute;
    top: 7%;
    /* right: 12px; */
    width: 100%;
}

.nav li{
    float: left;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: none;
}

ul.acorh,
ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
}
ul.acorh {
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}
ul.acorh li {
    list-style: none;
    float: left;
}

ul.acorh li a {
    display: block;
    padding: 10px 10px 10px 20px;
    /* background: #333; */
    color: #203c9e !important;
    
}
ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}
ul.acorh li li a {
    padding: 10px 10px 10px 40px;
    background: #EAEDED !important;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
ul.acorc li li:last-child a {
    border-bottom: 0;
}
ul.acorh li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}
ul.acorh li a:hover {
    background: #EAEDED !important;
    color: #fff;
}

.Bnav{
    font-size: 21px;
    padding-top: 2%;
    font-family: none;
    float: right;
    margin-right: 3%;
}

.pqr-usuario{
    margin-left: 70%;
    margin-top: 3%;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: blue !important;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-size: 20px;
}

.loginC{
    margin-top: 2%;
    margin-left: 68%;
}
a:visited {
    color: #fff !important;
}

.btn{
    background-color: #0562b0;
}