// Place all the styles related to the inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav .nav-wrapper {
    background-color: #43a69b;
}

.texto{
    border: solid 2px #43a69b;
    /* width: 80%; */
    /* height: 100%; */
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6%;
}

.texto p{
    font-size: 22px;
    font-family: none;
    text-align: justify;
}

.login{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.nav{
    border: solid 1px blue;
    height: 61px;
    position: absolute;
    top: 7%;
    /* right: 12px; */
    width: 100%;
}

.nav li{
    float: left;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: none;
}

ul.acorh,
ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
}
ul.acorh {
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}
ul.acorh li {
    list-style: none;
    float: left;
}

ul.acorh li a {
    display: block;
    padding: 10px 10px 10px 20px;
    /* background: #333; */
    color: #43a59b;
    /* text-decoration: none; */
    /* box-sizing: border-box; */
}
ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}
ul.acorh li li a {
    padding: 10px 10px 10px 40px;
    background: #999;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
ul.acorc li li:last-child a {
    border-bottom: 0;
}
ul.acorh li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}
ul.acorh li a:hover {
    background: #666;
    color: #fff;
}

.Bnav{
    font-size: 21px;
    padding-top: 2%;
    font-family: none;
    float: right;
    margin-right: 3%;
}

.pqr-usuario{
    //border: solid 1px red;
    height: 40px;
    margin-left: 45%;
    margin-right: 40%;
}