// Place all the styles related to the pqrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arriba{
    margin-top:-20px;
}
.input-field{
    padding: 10px;
}

table {
    width: 80%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

.show{
    margin-top: 9%;
}

.show p{
    font-size: 1.5em;
}

.btn{
    margin-left: 3%;
}

.int{
    border: solid aquamarine 2px;
    width: 45%;
    margin-top: 6%;
    padding-top: 34px;
    align-items: center;
    margin-left: 25%;
    
}

.Cam{
    margin-bottom: 13px;
}