// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginS{
    margin-left: 35% !important;
    width: 31%;
    border: solid 2px #203c9e;
    padding: 10px;
}