// Place all the styles related to the usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 3rem !important;
    line-height: 96% !important;
    margin: 2.8rem 0 1.68rem 0;
    font-family: initial;
    text-align: center;
}

form{
    margin-left: 10%;
    margin-right: 10%;
}